In [1]:
hs = ["ooty","coorg","leh","araku","mahabaleshwar","Munnar"]

In [2]:
print(sorted(hs))

['Munnar', 'araku', 'coorg', 'leh', 'mahabaleshwar', 'ooty']

In [3]:
print(sorted(hs,reverse=True))

['ooty', 'mahabaleshwar', 'leh', 'coorg', 'araku', 'Munnar']

In [5]:
print(sorted(hs,key=len))

['leh', 'ooty', 'coorg', 'araku', 'Munnar', 'mahabaleshwar']

In [6]:
print(sorted(hs,key=lambda x:x.lower()))

['araku', 'coorg', 'leh', 'mahabaleshwar', 'Munnar', 'ooty']

In [7]:
hs1 = [
('ooty',7500),
('coorg',5741),
('leh',11480),
('araku',2990),
('mahabaleshwar',4439),
('Munnar',5026),
]

In [9]:
print(sorted(hs1,key=lambda x:x[1]))

[('araku', 2990), ('mahabaleshwar', 4439), ('Munnar', 5026), ('coorg', 5741), ('ooty', 7500), ('leh', 11480)]

In [10]:
print(sorted(hs1,key=lambda x:x[0]))

[('Munnar', 5026), ('araku', 2990), ('coorg', 5741), ('leh', 11480), ('mahabaleshwar', 4439), ('ooty', 7500)]

In [11]:
print(sorted(hs1,key=lambda x:x[0].lower()))

[('araku', 2990), ('coorg', 5741), ('leh', 11480), ('mahabaleshwar', 4439), ('Munnar', 5026), ('ooty', 7500)]